.searchbar {
    background-image: url(../../imgs/iconosYLogo/lupa%20copy.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 25px;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    left: 40px;
    top:80px;
}

.searchbar input {
    width: 98%;
    font-size: 0.8em;
    border: none;
    
}
.searchbar input:focus {
    outline: none;
}

.table{
    margin-top: 20px;
}