body {
    margin: 0;
}

div {
    box-sizing: border-box;
}


.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 10%;
}

.mover-alertas-centro {
    position: relative; 
    right: 42%;
}

.validar-terminos {
    font-family: 'Asap', sans-serif;  
}

a {
    color: darkgrey;
    text-decoration: none;
}

.font-family-titulos {
    font-family: 'Advent Pro', sans-serif;
}

.font-family-cuerpo {
    font-family: 'Asap', sans-serif;  
}

.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;  
}

.tarjetas-aceptadas{
    width: 90%;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 400px;
}
.gris {
    color:darkgrey;
}
.carrito {
    position: absolute;
    top: 49px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}
.campana {
    position: absolute;
    top: 47px;
    right: 110px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 47px;
    right: 55px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}
.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion , .terceraSeccion {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3;
    height: 7px;
    margin-top: -140px;
    border-color: transparent;
}

.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #FFEFC4;
    padding: 20px;
}
.formulario {
    margin: 30px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}
.formulario p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.primeraSeccion {
    padding: 30px 50px;
    margin-left: -10px
}
.primeraSeccion, .segundaSeccion , .terceraSeccion {
    width: 50%;
}
.botonRegistrarMascota {
    position: relative;
    left: 150px;
    width: 200px;
    padding: 10px 30px;
    margin-bottom: 40px;
    font-size: 17px;
    background-color: transparent;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    text-decoration: none;
}

.ajustar-select {
    margin:20px auto 40px 85px;	
    border:1px solid #d9d9d9;
    height:35px;
    overflow: hidden;
    width: 230px;
    position:relative;
}

.caja {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   height:35px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background:transparent;
   border: none;
   font-size: 17px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}


.botonSubirFoto{
    position: relative;
    top: 25px;
    left: 150px;
    width: 200px;
    padding: 10px 30px;
    margin-bottom: 40px;
    font-size: 17px;
    background-color: transparent;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    
    
}

.checkboxes {
    margin-left: 15px;
}

.mover-boton{
    position: absolute;
    top: 95%;
    left: 40%;

}


.botonRegistrarOtro {
    position: relative;
    left: 290px;
    top: 150px;
    width: 200px;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: #E3E3E3;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    
}
.opciones {
    background-color: #FFEFC4;
    padding: 7px;
}
input[type=checkbox] {
    transform: scale(1.6);
    margin-right: 10px;
    margin-bottom: 4px;
}
.redaccionVacunas {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.cbox1 {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    padding: 5px;
    
}
ul {
    list-style: none;
    margin-right: 50px;
}

.segundaSeccion {
    margin-top: 3%;
}

.terceraSeccion {
    margin-top: 4%;
}

.terceraSeccion a {
    text-decoration: none;
    color: black;
}

.segundaSeccion a {
    text-decoration: none;
    color: black;
}
.tamano {
    font-size: 17px;
    margin-top: -50px;
}
#terminosCondiciones {
    position: relative;
    left: 250px;
    top: -20px;
}
#codigoSeguridad {
    margin-bottom: -30px;
}
.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.socials img {
    width: 8%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}

.footer-section h1 {
    margin-right: 12px;
}

