body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 1%;
}

.tipografia-titulos {
    font-family: 'Asap', sans-serif;
    font-size: 30px;
}

.tipografia-titulos-2{
    font-family: 'Asap', sans-serif;
    font-size: 22px;
}

.centrar {
    text-align: center;
}

.tituloRegistro {
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #FFEFC4;
    padding: 15px;
}

.formulario {
    margin: 15px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}

.tipografia-cuerpo{
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}

.tipografia-titulos-2 p a {
    color: black;
    text-decoration: none;
}

.tipografia-titulos-2 p a:hover{
    color: #C4D1FF;
    cursor: pointer;
}

.margin-button {
    margin-top: 1%;
}

button:hover {
    color: white;
    background-color: #6677B3;
}

.tipografia-titulos-2 input {
    border-radius: 5px;
    border: 0;
    outline: none;
    border: 2px solid #C4D1FF;
}

.fondo-2 {
    background-color: white;
}

.centrar-texto {
    margin-right: 1%;
}

.centrar-texto-raza {
    margin-right: 13%;
}

.superior-derecha{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


a {
    color: darkgrey;
    text-decoration: none;
}

.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 400px;
}
.gris {
    color:darkgrey;
}
.carrito {
    position: absolute;
    top: 49px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}
.campana {
    position: absolute;
    top: 47px;
    right: 110px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 47px;
    right: 55px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}
.menu-izq, .menu-centro {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}

.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.socials img {
    width: 8%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}
ul {
    list-style: none;
    margin-right: 50px;
}

.footer-section h1 {
    margin-right: 12px;
}


.star {
    width: 10%;
    margin-top: 30px;
    background-color: white;
    border: none;
}

.star img {
    width: 100%;   
}

.stars {
    overflow: auto;
    text-align: center;
}

.number1 {
    margin-top: 40px;
    font-size: 50px;
    float:left;
}

.number5 {
    margin-top: 40px;
    font-size: 50px;
    float: right;
}