/* header*/


.menuUbicacion {
    position: absolute;
    top: 123px;
    margin-left: 290px;
}

.vista{
    background-color: transparent;
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 110px;
    right: 88px;
    font-size: 14px;
    border-color: black;
    border-style: solid;
    border-width:medium;
}

.vistaCliente {
    text-decoration: none;
    color: black;
}


.menu-izq, .menu-centro {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -140px;
    border-color: transparent;
}

.publicidad-arriba, .texto-ultimo, .imagens, .categoriasServiciosPerros, .categoriasProductosPerros {
    float: left;
}
.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 20px;
}
.carousel-item {
    height: 470px;
}

/*main*/


.container1{
    position: relative;
    height: 1px;
    margin: 240px auto;
    top: -190px;
    
}

.container1 .box{
    position:relative;
    width: calc(390px - 30px);
    height: calc(300px - 30px);
    background: #6677B3;
    float: left;
    margin: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; 
    left: 9%;
}

.container1 .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6677B3;
    transition: 0.7s;
    z-index: 1;

}

.container1 .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  80px;
    transition: 0.5s;
    color: #FFF2D0;
}

.container1 .box:hover .icon .fa{
    font-size:  40px;
}

.container1 .box .content{
    margin-top: 100px;
    top: 100%;
    height:calc(100% - 100px);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container1 .box:hover .content{
    top: 100px;
    opacity: 1;
}

.container1 .box .content a{
    margin: 0 0 0px;
    padding: 0;
    color: white;
    font-size: 30px;
}

.container1 .box .content p{
    margin: 0;
    padding: 0;
    color: white;

}

.container1 .box1{
    position:relative;
    width: calc(390px - 30px);
    height: calc(300px - 30px);
    background: #6677B3;
    float: left;
    margin: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; 
    left: 9%;
}

.container1 .box1 .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E3E3E3;
    transition: 0.7s;
    z-index: 1;

}

.container1 .box1:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box1 .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  80px;
    transition: 0.5s;
    color: #FFF2D0;
}

.container1 .box1:hover .icon .fa{
    font-size:  40px;
}

.container1 .box1 .content{
    margin-top: 100px;
    top: 100%;
    height:calc(100% - 100px);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container1 .box1:hover .content{
    top: 100px;
    opacity: 1;
}

.container1 .box1 .content h3{
    margin: 0 0 0px;
    padding: 0;
    color: white;
    font-size: 30px;
}

.container1 .box1 .content p{
    margin: 0;
    padding: 0;
    color: white;

}

/* productos publi*/
.texto-solo {
    font-family: 'Asap', sans-serif;
    padding: 15px;
    margin-top: 23px;
    text-align: center;
}

.productos {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

.productos img {
    width: 60%;
}
.productos button {
    font-size: 15px;
    background-color: transparent;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-width:thin;
}


.lineaVerticalPerros{
    background-color:#E3E3E3  ;
    margin-top: 280px;
    height: 5px;
    border-color: transparent;
}
.nombreGatos {
    font-family: 'Advent Pro', sans-serif;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 12px;
    background-color: #C4D1EF;
    margin-top: 30px
}
.imagenes {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: center;
}

.imagenes img {
    width: 100%;
    border: 5px;
    border-style: solid;
    border-width:thin;
    border-color: #E3E3E3;
}

.publicidad-primera {
    background-color: #FFF2D0;
}


