body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



.wrapper {
    overflow: auto;
}
.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
}
.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 30px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 380px;
}
.campana {
    position: absolute;
    top: 47px;
    right: 110px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 47px;
    right: 55px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}
.menu-izq, .menu-centro, .segundaSeccion {
    float: left;
}

.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo {
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.socials img {
    width: 8%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}

.footer-section h1 {
    margin-right: 12px;
}

