body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow: auto;
}
.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 38%;
    padding: 4px 50px 30px 90px;
    
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 13px;
    padding-top: 14px;
}
.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding: 30px;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 670px;
}

.miCuenta {
    background-color: transparent;
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 62px;
    right: 40px;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width:medium;
}
.botonCuenta {
    text-decoration: none;
    color: black;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}

.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion , .terceraSeccion {
    float: left;
}


.primeraSeccion h1{
    margin-left: 300px;
    margin-top: -20px;
    text-align: center;
    width: 100%;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -140px;
    border-color: transparent;
}

.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #FFEFC4;
    padding: 20px;
    
}
.titulo {
     font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.formulario {
    margin: 30px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}
.formulario 
 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
 .primera, .segundo, .tercer,.primera-uno,.primera-dos,.primera-tres{
    float: left;
}
.todo{
    margin-left: 120px;
}
.primeraSeccion, .segundaSeccion , .terceraSeccion {
    width: 33.3%;
}


.cajaD {
    width: 350px;
    margin:10px 10px;
    border:1px solid #d9d9d9;
    height:70px;
    background-color: transparent;
}
.foto{
    width: 200px;
    height: 150px;
    object-fit: cover;

}

.caja {
    border:1px solid #d9d9d9;
    height:38px;
    overflow: hidden;
    width: 230px;
    font-family: 'Asap', sans-serif;
    margin:11px 11px;
    background-color: transparent;
 }
 .caja-roja {	
     border:1px solid red;
     height:35px;
     overflow: hidden;
     width: 230px;
     font-family: 'Asap', sans-serif;
     margin:11px 11px;
     background-color: transparent;
  }
  .cajaD {	
    width: 350px;
    margin:10px 10px;
    height:70px;
    border:1px solid  #d9d9d9;
    font-family: 'Asap', sans-serif;
    margin:11px 11px;
    background-color: transparent;
 } 
  .caja-rojaD {	
    width: 350px;
    margin:10px 10px;
    height:70px;
    border:1px solid red;
    font-family: 'Asap', sans-serif;
    margin:11px 11px;
    background-color: transparent;
 }
.caja1::after, select::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}
.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    margin-bottom: 17px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}
.warning-ima {
    position: relative;
    left: 60px;
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    margin-bottom: 17px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}
.botonSubirFoto{
    position: relative;
    top: 15px;
    left: 60px;
    width: 250px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #E3E3E3;;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 20px;
    color: black;
    font-family: 'Asap', sans-serif;
    
}
.checkboxes {
    margin-left: 15px;
}
.letraD{
    font-size: 24px;
    font-family: 'Asap', sans-serif;
}


.opciones {
    background-color: #FFEFC4;
    padding: 7px;
}
input[type=checkbox] {
    transform: scale(1.6);
    margin-right: 10px;
    margin-bottom: 4px;
}
.redaccionVacunas {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.cbox1 {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    padding: 5px;
    
}
ul {
    list-style: none;
    margin-right: 50px;
}

.segundaSeccion {
    margin-top: 3%;
}

.terceraSeccion {
    margin-top: 4%;
}

.terceraSeccion a {
    text-decoration: none;
    color: black;
}

.segundaSeccion a {
    text-decoration: none;
    color: black;
}
.ladoTexto {
    font-size: 21px;
     font-family: 'Asap', sans-serif;
     color: #6677B3;
}
.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.footer .footer-content{
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a:hover{
    color: black;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a{
    border: 1px solid black;
    width: 45px;
    color: black;
    height: 45px;
    padding-top: 5px;
    margin-right: 10pxs ;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 10px;
    transition: all .8s;
     font-family: 'Asap', sans-serif;
}

.footer .footer-content .about .socials a:hover{
    border: 3px solid white;
    color: black;
    transition: all .5s;

}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.lado {
    position:  relative;
    left: 390px;
}
.socials img {
  width: 8%;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 70px;
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}

.footer-section h1 {
    margin-right: 12px;
}
