.acomodar-boton-crear-categoria {
    margin-top: 13.3%;
}
.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion, .terceraSeccion {
    float: left;
}

.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
     background-color: #C4D1EF;
    padding: 15px;
}
.formulario {
    margin: 15px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}
.formulario p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.formulario form {
    margin-top: 40px;
    margin-bottom: -20px;
}

.primeraSeccion, .segundaSeccion, .terceraSeccion {
    width: 33%;
}

.cajaU {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:38px;
    overflow: hidden;
    width: 230px;
    font-family: 'Asap', sans-serif;
 }
 .caja-roja {
     margin:20px auto 40px auto;	
     border:1px solid red;
     height:35px;
     overflow: hidden;
     width: 230px;
     font-family: 'Asap', sans-serif;
  }
.alerta {
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    margin-top: -24px;
    margin-bottom: 17px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}
.der{
    float: left;
}
.botonRegistrarr {
    position: relative;
    top: 45px;
    left: 40px;
    width: 190px;
    padding: 10px 20px;
    font-size: 17px;
    background-color:#E3E3E3 ;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}

.letra {
        color: black;
    text-decoration: none;
}

.redaccionVacunas {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.todo {
    margin-left: 30px;
}
.duplicado {
    position: absolute;
    top: 460px;
    left: 810px;
    width: 30%;
}