body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.acomodar-boton-crear-categoria {
    margin-top: 13.3%;
}

a {
    color: darkgrey;
    text-decoration: none;
}

.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 30%;
    padding: 4px 50px 30px 20px;  
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 58px;
    margin-top: -6px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.leftborder {
    border-left: 1px solid black;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 190px;
}
.campana {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 40px;
    right: 28px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3  ;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}


.tituloRegistro {
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #C4D1EF;
    padding: 15px;
}
.formulario {
    margin: 15px 200px;
    box-shadow: 2px 2px 5px #999;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    padding: 20px;
}
.formulario p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
}
.primeraSeccion, .segundaSeccion {
    width: 50%;
    margin-top: 15px;
}

.botonRegresar {
    padding: 10px 30px;
    font-size: 17px;
    background-color: #E3E3E3;
    color: black;
    border-style: solid;
    border-radius: 40px;
    border-width:thin;
    box-shadow: 2px 2px 5px #999;
    text-decoration: none;
    position: relative;
    top: 60px;
    left: 150px;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}
    

.caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:38px;
    overflow: hidden;
    width: 230px;
    font-family: 'Asap', sans-serif;
 }
.caja-roja {
    margin:20px auto 40px auto;	
    border:1px solid red;
    height:35px;
    overflow: hidden;
    width: 230px;
    font-family: 'Asap', sans-serif;
 }
 .caja-descripcion {
    width: 100%;
    height: 140px;
    border:1px solid  #d9d9d9;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
}
.caja-descripcion-roja {
    width: 100%;
    height: 140px;
    border:1px solid red;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
}

.opciones {
    background-color: #FFEFC4;
    padding: 7px;
}
.cbox1 {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    padding: 5px;
    
}
ul {
    list-style: none;
    margin-right: 50px;
}

.segundaSeccion a {
    text-decoration: none;
    color: black;
}
.altura{
    height: 90px;
    width: 70%;
}
.alerta {
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    margin-top: -24px;
    margin-bottom: 17px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}
.alerta-descripcion {
    width: 200px;
    text-align: center;
    margin: auto;
    color:red;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}
.duplicado {
    position: absolute;
    top: 630px;
    left: 780px;
    width: 30%;
}
 /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}
.pen {
    width: 23%;
    margin-left: -215px;
    margin-right: -215px;
}
.footer .footer-content{
    height: 210px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .links h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Asap', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .links ul a{
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: 'Asap', sans-serif;
}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.footer .footer-content .contact-form .contact-btn{
        float: right;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}
ul {
    list-style: none;
    margin-right: 50px;
}

.footer-section h1 {
    margin-right: 12px;
}
.contact {
    margin-top: -15px;
}
.footer-section {
    margin-top: -10px;
}
