
.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion {
    float: left;
}

.caja {
   margin:20px auto 40px auto;	
   border:1px solid black;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}

select {
   background:transparent;
   border: none;
   font-size: 17px;
   height: 30px;
   padding: 5px;
   width: 250px;
}

select:focus{outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.tituloPubli1{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6677B3 ;
    position: relative;
    left: 500px;
}


.searchbar {
    background-image: url(../../imgs/iconosYLogo/lupa%20copy.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 215px;
    padding-left: 25px;
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
}

.searchbar input {
    width: 97.5%;
    font-size: 0.8em;
    border: none;
}
.searchbar input:focus {
    outline: none;
}

.estatus{
    margin-left: 20px;
}

.tabla {
    border: 2px solid #E3E3E3;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-right: 10px;
}

.titulos {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 20px;
    border: 2px solid #E3E3E3;
    font-weight: 150;
    background-color: #E3E3E3;
    font-weight: 500;
    
}

td {
    border: 2px solid #E3E3E3;
}

