body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.acomodar-boton-crear-categoria {
    margin-top: 13.3%;
}

a {
    color: darkgrey;
    text-decoration: none;
}

.wrapper {
    overflow: auto;
}
.menu {
    margin-top: 15px;
    margin-bottom: 140px;
    
}
.menu-izq img {
    width: 30%;
    padding: 4px 50px 30px 20px;  
}

.menu-centro h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 57px;
    color: black;
    padding-left: 58px;
    margin-top: -6px;
}

.menu-centro a {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.leftborder {
    border-left: 1px solid black;
}

.menuUbicacion {
    position: absolute;
    top: 100px;
    left: 250px;
}
.campana {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 15px;
    width: 2.5%;
}

.miCuenta {
    position: absolute;
    top: 40px;
    right: 28px;
    font-size: 15px;
    width: 2.5%;
}
.botonCuenta {
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.miCate {
    background-color: transparent;
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 14px;
    border-color: black;
    border-style: solid;
    border-width:medium;
}

.menu-izq, .menu-centro, .segundaSeccion, .primeraSeccion {
    float: left;
}

.lineaVerticalAbajo {
    background-color:#E3E3E3 ;
    height: 7px;
    margin-top: -150px;
    border-color: transparent;
}
.caja {
   margin:20px auto 40px auto;	
   border:1px solid black;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background:transparent;
   border: none;
   font-size: 17px;
   height: 30px;
   padding: 5px;
   width: 250px;
}

.tituloPubli1{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    margin-left: -17px;
    margin-top: 10px;
    color: #6677B3 ;
}
.estatus, .tituloPubli1, .searchbar {
    width: 33%;
    float: left;
}

.searchbar {
    background-image: url(../../imgs/iconosYLogo/lupa%20copy.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 25px;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    left: 530px;
    top:-4px;
}

.searchbar input {
    width: 99%;
    font-size: 0.8em;
    border: none;
}
.searchbar input:focus {
    outline: none;
}
.tituloPubli1{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    margin-left: -17px;
    margin-top: 10px;
    color: #6677B3 ;
}
.estatus, .tituloClient {
    width: 33.33%;
}
.estatus{
    margin-left: 20px;
}
.tabla {
    border: 2px solid #E3E3E3;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    font-family: 'Asap', sans-serif;
}

.producto-img {
    border: 2px solid #E3E3E3;
    width: 50%;
}
.titulos {
    font-family: font-family 'Asap', sans-serif;
    font-size: 17px;
    text-align: center;
    color: black;
    padding: 20px;
    border: 2px solid #E3E3E3;
    font-weight: 150;
    background-color: #E3E3E3;
    font-weight: 500;
    
}

td {
    border: 2px solid #E3E3E3;
}

.container1{
    position: relative;
    height: 1px;
    margin: 240px 50px;
    top: -190px;
    
}

.container1 .box{
    position:relative;
    width: calc(390px - 30px);
    height: calc(300px - 30px);
    background: #6677B3;
    float: left;
    margin: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; 
    left: 9%;
}

.container1 .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6677B3;
    transition: 0.7s;
    z-index: 1;

}

.container1 .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  80px;
    transition: 0.5s;
    color: #FFF2D0;
}

.container1 .box:hover .icon .fa{
    font-size:  40px;
}

.container1 .box .content{
    margin-top: 100px;
    top: 100%;
    height:calc(100% - 100px);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container1 .box:hover .content{
    top: 100px;
    opacity: 1;
}

.container1 .box .content a{
    margin: 0 0 0px;
    padding: 0;
    color: white;
    font-size: 30px;
}

.container1 .box .content p{
    margin: 0;
    padding: 0;
    color: white;

}

.container1 .box1{
    position:relative;
    width: calc(390px - 30px);
    height: calc(300px - 30px);
    background: #6677B3;
    float: left;
    margin: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; 
    left: 9%;
}

.container1 .box1 .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E3E3E3;
    transition: 0.7s;
    z-index: 1;

}

.container1 .box1:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box1 .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  80px;
    transition: 0.5s;
    color: #FFF2D0;
}

.container1 .box1:hover .icon .fa{
    font-size:  40px;
}

.container1 .box1 .content{
    margin-top: 100px;
    top: 100%;
    height:calc(100% - 100px);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container1 .box1:hover .content{
    top: 100px;
    opacity: 1;
}

.container1 .box1 .content h3{
    margin: 0 0 0px;
    padding: 0;
    color: white;
    font-size: 30px;
}

.container1 .box1 .content p{
    margin: 0;
    padding: 0;
    color: white;

}

.footer{
    background:#E3E3E3;
    color: black;
    height: 250px;
    position: relative;
    margin-top: 40px;
    text-align: center;
}
.pen {
    width: 23%;
    margin-left: -215px;
    margin-right: -215px;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: black;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.footer .footer-content .about h1 span {
    color: #6677B3;
    font-size: 51px;
    font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .contact-form h1 span {
    color: #6677B3;
    font-size: 51px;
   font-family: 'Advent Pro', sans-serif;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: 'Advent Pro', sans-serif;
}

.tipo{
    font-family: 'Asap', sans-serif;
}

.footer .footer-bottom{
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    font-family: 'Asap', sans-serif;
    
}
.footer .footer-content .contact-form .contact-input{
    background:#C4D1FF;
    color: black;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    font-family: 'Asap', sans-serif;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #FFF2D0;
}

.btn-big{
    padding: .7rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 20px;
}
ul {
    list-style: none;
    margin-right: 50px;
}

.footer-section h1 {
    margin-right: 12px;
}
.contact {
    margin-top: -15px;
}
.footer-section {
    margin-top: -10px;
}

.switch {
    top: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.footer{
    background:#E3E3E3;
    color: black;
    height: 4003x;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.raro {
    position: relative;
    right: 530px;
}
